#
# Managed by Ansible
#
[Unit]
Description=Zpool `%i` scrub
Requires=zfs.target
After=zfs.target

[Service]
Type=simple
#Type=oneshot
ExecStart=/usr/sbin/zpool scrub %i

# [Install]
# WantedBy=zfs.target timers.target
